# PostgreSQL
POSTGRES_USER=repoman
POSTGRES_PASSWORD=сильный_пароль_сюда
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=repo_manager

# Хранилище
# STORAGE_ROOT=/var/lib/repo-manager

# Режим отладки
DEBUG=true
